@page "/company"
@using Api.Models

@inject HttpClient HttpClient
@using CurrieTechnologies.Razor.SweetAlert2
@inject SweetAlertService Swal


<div class="col-md-12">
    <div class="card">
        <div class="table-responsive pt-3">          
            <table class="table table-striped project-orders-table">
                <thead>
                    <tr>
                        <th class="ml-5">Company ID</th>
                        <th>Company Name</th>
                        <th>Company Email</th>
                        <th>UserId</th>
                        <th>UserEmail</th>
                    </tr>
                </thead>
                @if (companies != null)
                {
                    <tbody>
                        @foreach (var item in companies)
                        {
                            <tr>
                                <td>@item.CompanyId</td>
                                <td>@item.CompanyName</td>
                                <td>@item.CompanyEmail</td>
                                <td>@item.User?.UserId</td>
                                <td>@item.User?.Email</td>

                                <td>
                                    <div class="d-flex align-items-center">
                                        <button @onclick="@(() => GetCompany(item.CompanyId))" type="button" class="btn btn-success btn-sm btn-icon-text mr-3" data-toggle="modal" data-target="#exampleModal">
                                            Detail
                                            <i class="typcn typcn-edit btn-icon-append"></i>
                                        </button>                                       
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Company Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@getCom" >
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label>Company Name :</label>
                        <input type="text" @bind-value="getCom.CompanyName" class="form-control" disabled>
                    </div>   
                    <div class="form-group">
                        <label>Company Description :</label>
                        <input type="text" @bind-value="getCom.CompanyDescription" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label>Company Website :</label>
                        <input type="text" @bind-value="getCom.CompanyWebsiteUrl" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label>Company Email :</label>
                        <input type="text" @bind-value="getCom.CompanyEmail" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label>Company Photo :</label>
                        <input type="text" @bind-value="getCom.CompanyPhoto" class="form-control" disabled>
                    </div>                      
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>



@code {
    private List<Company> companies = new List<Company>();

    private Company getCom = new Company();


    string api_url = "https://localhost:7280/";

    protected override async Task OnInitializedAsync()
    {
        companies = await HttpClient.GetFromJsonAsync<List<Company>>(api_url + "api/Company");
    }

    void GetCompany(int id)
    {
        getCom = companies.FirstOrDefault(x => x.CompanyId == id);
    }
}

