@page "/listapplied"

@inject IHttpContextAccessor HttpAccessor
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@using CurrieTechnologies.Razor.SweetAlert2
@inject SweetAlertService Swal

@inject HttpClient HttpClient
@using System.Net.Http;
@using System.Net.Http.Json;
@using Api.Models
@using Newtonsoft.Json;
@using System.Net;
@inject NavigationManager NavManager

<main>

    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" style="background-image: url('@ImageUrl')">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Danh sách ứng tuyển</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- Job List Area Start -->
    <div class="job-listing-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <!-- Left content -->
                <div class="col-xl-3 col-lg-3 col-md-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="small-section-tittle2 mb-45">
                                <div class="ion">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="20px" height="12px">
                                        <path fill-rule="evenodd" fill="rgb(27, 207, 107)"
                                              d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z" />
                                    </svg>
                                </div>
                                <h4>Mô tả chung</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Job Category Listing start -->
                    <div class="job-category-listing mb-50">
                        <!-- single one -->
                        <div class="single-listing">
                            <div class="select-Categories">
                                <div class="small-section-tittle2">
                                    <h4>Tất cả công việc</h4>
                                </div>
                                <label class="container">
                                    Chọn công việc để xem thông tin ứng tuyển
                                    <input type="checkbox">
                                </label>
                               
                            </div>
                            <!-- select-Categories End -->
                        </div>
                       
                    </div>
                    <!-- Job Category Listing End -->
                </div>
                <!-- Right content -->
                <div class="col-xl-9 col-lg-9 col-md-8">
                    <!-- Featured_job_start -->
                    <section class="featured-job-area">
                        <div class="container">
                            <!-- Count of Job list Start -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="count-job mb-35">
                                        @if (jobs != null)
                                        {
                                            <span>Tìm thấy @jobs.Count() công việc</span>
                                        }
                                        else
                                        {
                                            <span>Không có công việc nào</span>
                                        }
                                       
                                    </div>
                                </div>
                            </div>
                            <!-- Count of Job list End -->
                            <!-- single-job-content -->
                            @if (jobs != null)
                            {
                                @foreach (var item in jobs)
                                {

                                    <div class="single-job-items mb-30">
                                        <div class="job-items">
                                            <div class="company-img">
                                                <a href="#"><img src="@item.Company.CompanyPhoto" height="85px" width="85px" alt=""></a>
                                            </div>
                                            <div class="job-tittle job-tittle2">
                                                <a href="#">
                                                    <h4 style="width: 300px; white-space: nowrap;overflow: hidden; text-overflow: ellipsis;">
                                                        @item.JobTitle
                                                    </h4>
                                                </a>
                                                <ul>
                                                    <li>Ngày hết hạn:  @item.ExpiredDate.ToShortDateString()</li>
                                                    @if(item.Location != null)
                                                    {
                                                        <li><i class="fas fa-map-marker-alt"></i>@item.Location.Name</li>
                                                    }
                                                    <li>$ @item.SalaryRange</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="items-link items-link2 f-right">
                                            <a href="#" @onclick="@(() => NavigateToDetails(item.JobId))">Xem thông tin</a>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="single-job-items mb-30">
                                    <p>Không có công việc nào</p>

                                </div>
                            }

                        </div>
                    </section>
                    <!-- Featured_job_end -->
                </div>
            </div>
        </div>
    </div>

   

   

</main>



@code {
    private string ImageUrl = "assets/img/hero/about.jpg";
    public int compId = 0;

    HttpClient http = new HttpClient();


    private List<JobList> jobs = new List<JobList>();

    string api_url = "https://localhost:7280/";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        compId = await sessionStorage.GetItemAsync<int>("comId");
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(50);
        //compId = await sessionStorage.GetItemAsync<int>("comId");
        if (compId != 0)
        {
            try
            {
                jobs = await http.GetFromJsonAsync<List<JobList>>($"https://localhost:7280/api/JobList/GetJobByCompanyId/{compId}");              
            }
            catch (HttpRequestException ex) when (ex.StatusCode == HttpStatusCode.NotFound)
            {             
                jobs = null;
            }
            catch (Exception ex)
            {              
                jobs = null;             
            }
        }
    }
    private void NavigateToDetails(int id2)
    {
        NavManager.NavigateTo($"/listapplydetail?id2={id2}");
    }
   

}