@page "/"
@using Api.Models
@inject NavigationManager NavManager
<main>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center" style="background-image: url('@ImageUrl')">
                <!-- Content goes here -->
                @*<div class="single-slider slider-height d-flex align-items-center" background-image="../assets/img/hero/h1_hero.jpg">*@
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-9 col-md-10">
                            <div class="hero__caption">
                                <h1>Tìm kiếm công việc phù hợp với bạn</h1>
                            </div>
                        </div>
                    </div>
                    <!-- Search Box -->
                   
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- Our Services Start -->
    <div class="our-services section-pad-t30">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center">
                        <span>Nổi bật</span>
                        <h2>Các công ty với đa dạng lĩnh vực ứng dụng công nghệ thông tin </h2>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-contnet-center">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-tour"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="job_listing.html">Design & Creative</a></h5>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-cms"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="job_listing.html">Design & Development</a></h5>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-report"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="job_listing.html">Sales & Marketing</a></h5>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-app"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="job_listing.html">Mobile Application</a></h5>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-helmet"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="job_listing.html">Construction</a></h5>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-high-tech"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="job_listing.html">Information Technology</a></h5>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-real-estate"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="job_listing.html">Real Estate</a></h5>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-content"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="job_listing.html">Content Writer</a></h5>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- More Btn -->
            <!-- Section Button -->
            
        </div>
    </div>
    <!-- Our Services End -->
    <!-- Online CV Area Start -->
    <div class="online-cv cv-bg section-overly pt-90 pb-120" style="background-image: url('@ImageUrl2')">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="cv-caption text-center">
                        <p class="pera1">Tính năng nổi bật</p>
                        <p class="pera2">Tạo sơ yếu lý lịch trực tuyến!</p>
                        <a href="/createcv" class="border-btn2 border-btn4">Tự động tạo CV của bạn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Online CV Area End-->
    <!-- Featured_job_start -->
    <section class="featured-job-area feature-padding">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center">
                        <span>Gần đây</span>
                        <h2>Công việc nổi bật gần đây</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    @foreach(var item in topjobs)
                    {
                        <!-- single-job-content -->
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                @if (item.Company != null)
                                {
                                    <div class="company-img">
                                        <a href="#"><img src="@item.Company.CompanyPhoto" height="85px" width="85px" alt=""></a>
                                    </div>
                                }
                                <div class="job-tittle job-tittle2">

                                    <h4 style="width: 500px; white-space: nowrap;overflow: hidden; text-overflow: ellipsis;">@item.JobTitle</h4>

                                    <ul>
                                        <li>Ngày hết hạn:  @item.ExpiredDate.ToShortDateString()</li>
                                        @if (item.Location != null)
                                        {
                                            <li><i class="fas fa-map-marker-alt"></i>@item.Location.Name</li>
                                        }
                                        <li>$ @item.SalaryRange</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link items-link2 f-right">

                                <a href="#" @onclick="@(() => NavigateToDetails(item.JobId))">Thông tin</a>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Featured_job_end -->
    <!-- How  Apply Process Start-->
    <div class="apply-process-area apply-bg pt-150 pb-150" style="background-image: url('@ImageUrl3')">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle white-text text-center">
                        <span>Quy trình ứng tuyển</span>
                        <h2> Cách thức hoạt động</h2>
                    </div>
                </div>
            </div>
            <!-- Apply Process Caption -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-process text-center mb-30">
                        <div class="process-ion">
                            <span class="flaticon-search"></span>
                        </div>
                        <div class="process-cap">
                            <h5>1. Tìm kiếm công việc</h5>
                            <p>Tìm kiếm công việc phù hợp với bản thân, với các yêu cầu đến từ doanh nghiệp.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-process text-center mb-30">
                        <div class="process-ion">
                            <span class="flaticon-curriculum-vitae"></span>
                        </div>
                        <div class="process-cap">
                            <h5>2. Ứng tuyển vị trí công việc</h5>
                            <p>Gửi CV và thông tin cá nhân, chờ phản hồi từ nhà tuyển dụng.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-process text-center mb-30">
                        <div class="process-ion">
                            <span class="flaticon-tour"></span>
                        </div>
                        <div class="process-cap">
                            <h5>3. Nhận công việc</h5>
                            <p>Nhận được công việc phù hợp với bản thân của bạn.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- How  Apply Process End-->
    <!-- Testimonial Start -->
    <div class="testimonial-area testimonial-padding">
        <div class="container">
            <!-- Testimonial contents -->
            <div class="row d-flex justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-10">
                    <div class="h1-testimonial-active dot-style">
                        <!-- Single Testimonial -->
                        <div class="single-testimonial text-center">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <!-- founder -->
                                <div class="testimonial-founder  ">
                                    <div class="founder-img mb-30">
                                        <img style="border-radius: 50%;" width="100px" src="../assets/img_avatar.png" alt="">
                                        <span>Trần Minh Hiển</span>
                                        <p>Creative Director</p>
                                    </div>
                                </div>
                                <div class="testimonial-top-cap">
                                    <p>“FindJob là trang web giúp bạn định hướng nghề nghiệp và tìm kiếm công việc phù hợp.”</p>
                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</main>

@code {
    private string ImageUrl = "assets/img/hero/hero_bg_1.jpg";

    private string ImageUrl2 = "assets/img/gallery/cv_bg.jpg";

    private string ImageUrl3 = "assets/img/gallery/how-applybg.png";

    HttpClient http = new HttpClient();

    public List<JobList> jobs = new List<JobList>();
    public List<JobList> topjobs = new List<JobList>();

    protected override async Task OnInitializedAsync()
    {
        jobs = await http.GetFromJsonAsync<List<JobList>>("https://localhost:7280/api/JobList");
        topjobs = jobs.OrderByDescending(job => job.JobId).Take(4).ToList();
    }
    private void NavigateToDetails(int id)
    {
        NavManager.NavigateTo($"/details?id={id}");
    }

}